@font-face {
    font-family: "pokemon";
    src: url("../fonts/Pokemon_Solid.ttf");
}
.page-header{
    height: 75px;
    border: 1px solid black;
    display: inline-flex;
    width: 100%;
}
#page_header{
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    background-image: url('../img/header1.jpg');
    background-size: contain;
}
.head-right-wrapper{
    margin-left: auto;
}
.head-right{
    height: 75px;
    width: 75px;
    float: right;
    border-left: 1px solid black;
    padding: 10px;
    padding-top: 20px;
    background-image: url('../img/pokeball.png');
    background-size: cover;
    color: white;
    font-family: "pokemon";
    text-shadow: 2px 1px 1px #0099ff, -2px -1px 1px #0099ff;
    color: #ffcc00;
    text-align: center;
    font-size: 15pt;
}
.head-right:hover{
    background-image: url('../img/openpokeball.png');
    background-size: cover;
}
.head-left-wrapper{
    margin: auto 0;
}
.head-left{
    font-family: "pokemon";
    text-shadow: 2px 1px 1px #0099ff, -2px -1px 1px #0099ff;
    color: #ffcc00;
    margin-top: 5px;
    float: left;
    display: flex;
    align-items: center;
}
.head-left h1{
    margin: 0;
}
body{
    height: 500px;
    background-image: url('../img/pallet-town.jpg');
    background-size: cover;
}
.post-location{
    height: 100%;
    width: 40%;
}
.nearby{
    height: 100
}
input {
    width: 100%;
    background: rgba(0,0,0,0.5);
    outline: none;
    padding: 10px;
    font-size: 13px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
}
.input{
    color: white;
}
.output-all{
    width: 100%;
    background: rgba(0,0,0,0.5);
    outline: none;
    padding: 10px;
    font-size: 13px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
    color: white;
}
.input-text{
    color: white;
    font-weight: normal;
}
.input-label{
    color: black;
    text-shadow: 1px 1px;
}
