h1 {
    color: blue;
    text-indent: 25px;
}
body { 
    background-color: lightgrey; 
    }
table{
    background-color: transparent;
}
td{
    border: 1px dotted blue;
    padding: 25px;
    background-color:white;
    
}

img{
    height: auto;
    width: auto;
}

div{
}
h3{
}
td.left{
    width: 25%;
    vertical-align: text-top;
}
td.middle{
    width: 55%;
    vertical-align: middle;
}
td.right{
    width: 20%;
    vertical-align: top;
}
.footer{
    text-align: center;
}
